h1 {
    font-family: transducer,sans-serif;
    font-weight: 600;
    font-style: normal;
}

h2 {
font-family: transducer,sans-serif;
font-weight: 600;
font-style: normal;
font-size: 1.5em;  
margin: 1em;

}

h3 {

font-family: transducer-extended, sans-serif;
font-weight: 600;
font-style: normal;

}

p {
    font-family: transducer-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main {
    display: grid;
    grid-template: 1fr/1fr/4fr/4fr;
}


.header {
    display: grid;
    padding: 1em;
    background-color: aqua;
    gap: 1em;
    grid-area: 1/2/2/4;
    
}
.meow-header {
display: inline-flex;

}

button {
border-radius: 10px;
}

.search-bar {
    border-radius: 40px;

}

.side-bar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color:blueviolet;
    text-align: center;

}

.main-container {
    display: grid;
    background-color: brown;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}


.main-content {
    display: grid;
    grid-template-columns: 50fr 50fr 30fr;
    grid-template-rows: repeat(2, 30fr);
    background-color: brown;
    
}

.box-1, .box-2, .box-3, .box-4, .announcements, .trending {
    margin: 1em;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 2em;
}

